useDynLib(IRTC, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom(stats, dnorm, pnorm, qnorm, rnorm, sd, var, weighted.mean,
           optim, optimize, terms, model.matrix, na.omit, aggregate,
           cov2cor, runif, cor, cov, complete.cases, plogis, rbinom)
importFrom(utils, packageDescription, flush.console, read.table,
           packageVersion)
importFrom(methods, is)
importFrom(MASS, ginv, mvrnorm)
importFrom(tools, file_ext)
importFrom(graphics, abline, barplot, hist, layout, matplot, par, text)
importFrom(grDevices, dev.off, png)

export(irtc.mml)
export(irtc.mml.2pl)

export(irtc)
export(irtc_lang)
export(irtc_read)
export(irtc_read_q)
export(irtc_align_q)
export(irtc_score)
export(irtc_check_data)
export(irtc_ctt)
export(irtc_itemfit)
export(irtc_quality)
export(irtc_quality_thresholds)
export(plain_summary)
export(irtc_excel)
export(irtc_param_table)
export(irtc_person_table)
export(irtc_report)
export(irtc_results)
export(irtc_json)

S3method(summary, irtc)
S3method(print, irtc)
S3method(logLik, irtc)
S3method(anova, irtc)
S3method(plot, irtc)
S3method(print, irtc_data)
S3method(print, irtc_qmatrix)
S3method(print, irtc_check)
S3method(print, irtc_ctt)
S3method(print, irtc_itemfit)
S3method(print, irtc_quality)
S3method(print, irtc_results)
